{% extends 'quiz/base.html' %}

{% block title %} Index {% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <style type="text/css">
            .table {
                color: white;
                background-color: #5c5694;
            }

            .btn {
                color: white;
                background-color: #c77e24;
            }

            .btn:hover {
                color: #3424c7;
            }
        </style>

        <div class="h-75 row align-items-center mx-3">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Player</th>
                            <th scope="col">Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for player, score in page %}
                            <tr>
                                <th scope="row">{{ forloop.counter0|add:page.start_index }}</th>
                                <td>{{ player }}</td>
                                <td>{{ score }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="text-center">
                    {% if page.has_previous %}
                        <a class="btn mb-4 mt-2" href="?page=1">First</a>
                        <a class="btn mb-4 mt-2" href="?page={{ page.previous_page_number }}">Previous</a>
                    {% endif %}

                    {% for page_num in page.paginator.page_range %}
                        {% if page.number == num %}
                            <a class="btn mt-2" href="?page={{ page_num }}">{{ page_num }}</a>
                        {% elif page_num > page.number|add:'-2' and page_num < page.number|add:'2' %}
                            <a class="btn mb-4 mt-2" href="?page={{ page_num }}">{{ page_num }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if page.has_next %}
                        <a class="btn mb-4 mt-2" href="?page={{ page.next_page_number }}">Next</a>
                        <a class="btn mb-4 mt-2" href="?page={{ page.paginator.num_pages }}">Last</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>
    {% endif %}
{% endblock %}