{% extends 'quiz/base.html' %}

{% block title %} Index {% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <style type="text/css">
            p {
                color: white;
            }

            #username {
                color: #ff99cc;
            }

            .table {
                color: white;
                background-color: #5c5694;
            }

            .btn {
                color: white;
                background-color: #c77e24;
            }

            .btn:hover {
                color: #3424c7;
            }
        </style>

        <div class="h-75 row align-items-center mx-3">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <p class="text-center">You: <span id="username">{{ user.username }}</span></p>
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Player</th>
                            <th scope="col">Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for player, score in page %}
                            <tr>
                                <th scope="row">{{ forloop.counter0|add:page.start_index }}</th>
                                <td>{{ player }}</td>
                                <td>{{ score }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="text-center">
                    {% if page.has_previous %}
                        <a class="btn mb-4 mt-2" href="?page=1">First</a>
                        <a class="btn mb-4 mt-2" href="?page={{ page.previous_page_number }}">Previous</a>
                    {% endif %}

                    {% for page_num in page.paginator.page_range %}
                        {% if page.number == num %}
                            <a class="btn mt-2" href="?page={{ page_num }}">{{ page_num }}</a>
                        {% elif page_num > page.number|add:'-2' and page_num < page.number|add:'2' %}
                            <a class="btn mb-4 mt-2" href="?page={{ page_num }}">{{ page_num }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if page.has_next %}
                        <a class="btn mb-4 mt-2" href="?page={{ page.next_page_number }}">Next</a>
                        <a class="btn mb-4 mt-2" href="?page={{ page.paginator.num_pages }}">Last</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>
    {% else %}
        <!-- width=242 height=529  h/w=2.18595041322 -->
        <div class="h-75 row align-items-center">
            <div class="col-lg-4"></div>
            <div class="col-lg-4 text-center">
                <img src="/media/images/riddler.png" alt="riddler" width="92" height="200"/>
                <h5 class="text-white mt-3"><span style="color: #ff99ff">QUIZ GAME</span></h5>
                <p class="text-white mt-3">Welcome to QUIZ GAME.</p>
                <p class="text-white">Answer various questions and compete in erudition with others. Your results will be displayed on the leaderboard.</p>
                <p class="text-white">Questions are taken using the <a style="color: #00cc00;" href="https://opentdb.com/api_config.php" target="_blank">Open Trivia Database API</a></p>
                <a class="btn btn-success" style="color: #99ff99;" href="/sign-up" role="button">Join</a>
                <p class="text-white mt-3">You are already a player? Then <a style="color: #00cc00;" href="/login">Sign In</a></p>
            </div>
            <div class="col-lg-4"></div>
        </div>
    {% endif %}
{% endblock %}